<!DOCTYPE html>
<html>
  <head>
    <title>Shop All-Cart</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <div id="top"></div>
    <img
      src="./images/grocery-store-displays.jpg"
      alt=""
      width="100%"
      height="150px"
    />
    <div id="site_title">
      <a href="/">
        <p class="headers">Shop All</p>
        <img
          src="./images/external-shopping-cart-supermarket-photo3ideastudio-lineal-photo3ideastudio.png"
          alt=""
      /></a>
    </div>
    <ul>
      <li class="nav"><a href="/">HOME</a></li>
      <li class="nav"><a href="items">ITEMS</a></li>
      <li class="nav"><a href="cart">CART</a></li>
      <li class="nav"><a href="contact">CONTACT</a></li>
    </ul>
    <h2 class="headers" style="margin-left: 15px">Online Shopping Cart</h2>
    <section id="cart">
        <div id="itemsCart">

        </div><hr>
            <span style="color: #e63946;" class="data">Total</span>
            <span style="color: #e63946;" class="data" id="total"></span>
          </div>
          <div>
            <div style="color: #e63946;" id="delivery"></div>
          </div>
        </table>
      </div>
    </section>
    <p>Choose payment method:</p>
    <form action="" onsubmit="checkOut()">
      <input type="radio" id="visa" name="card" value="VISA" required />
      <label for="visa">Visa</label>
      <input
        type="radio"
        id="mastercard"
        name="card"
        value="MASTERCARD"
        required
      />
      <label for="mastercard">Mastercard</label><br />
      <br />
      <label for="name">Name On Card: </label>
      <input type="text" style="margin: -5px" id="name" size="15" required />
      <input type="text" style="margin: -5px" id="name" size="15" />
      <input type="text" style="margin: -5px" id="name" size="15" />
      <input type="text" style="margin: -5px" id="name" size="15" />
      <br />
      <br />
      <span>Expiry date:</span>
      <select name="month" id="month">
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
      <select name="year" id="year">
        <option>2023</option>
        <option>2024</option>
        <option>2025</option>
        <option>2026</option>
        <option>2027</option></select
      ><br /><br />
      <label for="cvv">CVV </label>
      <input
        type="text"
        id="cvv"
        placeholder="CVV"
        size="3"
        required
      /><br /><br />
      <button>Check Out</button>
    </form>
    <button onclick="cancelCheckout()">Empty Cart</button><br />
    <a href="#top"><button style="margin-top: 20px">Back to Top</button></a>
  </body>
  <script src="cart.js"></script>
</html>
