<!DOCTYPE html>
<html>
  <head>
    <title>Shop All-Cart</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="top"></div>
    <img
      src="./images/grocery-store-displays.jpg"
      alt=""
      width="100%"
      height="150px"
    />
    <div id="site_title">
      <a href="/">
        <p class="headers">Shop All</p>
        <img
          src="./images/external-shopping-cart-supermarket-photo3ideastudio-lineal-photo3ideastudio.png"
          alt=""
      /></a>
    </div>
    <ul id="nav">
      <li class="nav"><a href="/">HOME</a></li>
      <li class="nav"><a href="items">ITEMS</a></li>
      <li class="nav"><a href="cart">CART</a></li>
      <li class="nav"><a href="contact">CONTACT</a></li>
    </ul>
    <h2 class="headers" style="margin-left: 15px">Shopping Cart</h2>
    <section id="cart">
      <div id="itemsCart">Shopping Cart is Empty...</div>
      <hr />
      <div>
        <span style="color: #e63946" class="data" id="total"></span>
      </div>
      <div>
        <div style="color: #e63946" id="delivery"></div>
      </div>
    </section>
    <div id="checkout-options"></div>
    <a href="#top"><button style="margin-top: 20px">Back to Top</button></a>
  </body>
  <script src="cart.js"></script>
</html>
