<!DOCTYPE html>
<html>
  <head>
    <title>Shop All-Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="top"></div>
    <img
      id="my-image-to-be-styled"
      src="https://res.cloudinary.com/larrykoya/image/upload/v1683949176/grocery-store-displays_xrcnzu.jpg"
      alt="Shopping header image"
      width="100%"
      height="150px"
    />
    <div id="site_title">
      <a href="">
        <p class="headers">Shop All</p>
        <img
          src="https://res.cloudinary.com/larrykoya/image/upload/v1683949199/external-shopping-cart-supermarket-photo3ideastudio-lineal-photo3ideastudio_gbyezv.png"
          alt="shopping cart logo"
        />
      </a>
    </div>

    <ul id="nav">
      <li><a href="/">HOME</a></li>
      <li><a href="items">ITEMS</a></li>
      <li><a href="cart">CART</a></li>
      <li><a href="contact">CONTACT</a></li>
    </ul>
    <p class="">
      We are a retail market, offering basic everyday groceries and household
      items at very affordable prices along with great service.
    </p>
    <h2 class="headers" style="margin-left: 10px; text-align: center">
      Featured Products
    </h2>
    <section id="featured-section"></section>
    <br />
    <a href="items"><button>All Products</button></a>
    <hr />

    <h2 class="headers">About Us</h2>
    <p class="">
      At <span class="store_name">Shop All</span>, we add greater value to our
      customers by helping them make better buying decisions in an environment
      that encourages constant interactions and respect.

      <span class="store_name">Shop All</span> is a select assortment mass
      grocery retail chain established to address the grocery shopping concerns
      of our valuable customers and to make shopping a pleasurable experience
      for you!!!
    </p>
    <p>Click <a href="contact">here to Contact us</a></p>
    <a href="#top"><button id="topbtn">back to top</button></a>
  </body>
  <script src="/items.js"></script>
</html>
