<!DOCTYPE html>
<html>
  <head>
    <title>Shop All-Items</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="top"></div>
    <img
      src="./images/grocery-store-displays.jpg"
      alt=""
      width="100%"
      height="150px"
    />
    <div id="site_title">
      <a href="/">
        <p class="headers">Shop All</p>
        <img
          src="./images/external-shopping-cart-supermarket-photo3ideastudio-lineal-photo3ideastudio.png"
          alt=""
      /></a>
    </div>
    <ul>
      <li class="nav"><a href="/">HOME</a></li>
      <li class="nav"><a href="items">ITEMS</a></li>
      <li class="nav"><a href="cart">CART</a></li>
      <li class="nav"><a href="contact">CONTACT</a></li>
    </ul>

    <h2 class="headers" style="padding-left: 10px">Products</h2>
    <a href="/login"><button>Log in as Admin</button></a>
    <section id="products-section">
      <h1>LOADING PRODUCTS, PLEASE WAIT...</h1>
    </section>

    <a href="/cart"><button>View Cart</button></a>
    <a href="#top"><button>back to top</button></a>
    <script>
      let submitBtn = document.getElementById("submit-button");
      const creatingUser = () => {
        submitBtn.innerHTML = "Creating...Please wait";
        setInterval(() => {
          setTimeout(() => {
            submitBtn.style.backgroundColor = "#1d3557";
          }, 400);
          submitBtn.style.backgroundColor = "#e63946";
        }, 800);
      };
    </script>
  </body>
</html>
