<!DOCTYPE html>
<html>
  <head>
    <title>Shop All-Contact Us</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="top"></div>
    <img
      src="./images/grocery-store-displays.jpg"
      alt=""
      width="100%"
      height="150px"
    />
    <div id="site_title">
      <a href="/">
        <p class="headers">Shop All</p>
        <img
          src="./images/external-shopping-cart-supermarket-photo3ideastudio-lineal-photo3ideastudio.png"
          alt=""
      /></a>
    </div>

    <h2>Enter Login Details:</h2>
    <form id="form" action="" onsubmit="contactFeedBack()">
      <label for="email">Enter email: </label>
      <input type="email" id="email" placeholder="Example@email.com" required />
      <br />
      <label for="password">Last Name: </label>
      <input
        type="password"
        id="password"
        placeholder="Enter password"
        required
      />
      <br />

      <button>LOGIN</button>
    </form>
    <p>Don't have an accout?</p>
    <a href="#top"><button>Sign-up</button></a>
  </body>
</html>
