<!DOCTYPE html>
<html>
  <head>
    <title>Shop All-Contact Us</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="top"></div>
    <img
      src="./images/grocery-store-displays.jpg"
      alt=""
      width="100%"
      height="150px"
    />
    <div id="site_title">
      <a href="/">
        <p class="headers">Shop All</p>
        <img
          src="./images/external-shopping-cart-supermarket-photo3ideastudio-lineal-photo3ideastudio.png"
          alt=""
      /></a>
    </div>

    <ul>
      <li class="nav"><a href="/">HOME</a></li>
      <li class="nav"><a href="items">ITEMS</a></li>
      <li class="nav"><a href="cart">CART</a></li>
      <li class="nav"><a href="contact">CONTACT</a></li>
    </ul>

    <h2>Enter Sign-up Details:</h2>
    <form id="form" action="" onsubmit="contactFeedBack()">
      <div style="padding: 15px">
        <label for="firstname">Enter Firstname: </label>
        <input
          style="margin-left: 20px"
          type="text"
          id="firstname"
          placeholder="Firstname"
          required
        />
      </div>
      <div style="padding: 15px">
        <label for="lastname">Enter Lastname: </label>
        <input
          style="margin-left: 20px"
          type="text"
          id="lastname"
          placeholder="Lastname"
          required
        />
      </div>
      <div style="padding: 15px">
        <label for="email">Enter email: </label>
        <input
          style="margin-left: 20px"
          type="email"
          id="email"
          placeholder="Example@email.com"
          required
        />
      </div>

      <div style="padding: 15px">
        <label for="password">Create password: </label>
        <input
          type="password"
          id="password"
          placeholder="Enter password"
          required
        />
      </div>

      <div style="padding: 15px">
        <label for="confirm-password">Confirm password: </label>
        <input
          type="password"
          id="confirm-password"
          placeholder="Confirm password"
          required
        />
      </div>

      <button>SIGN UP</button>
    </form>
    <p>
      Do you have an accout? <a href="#top"><button>Login</button></a>
    </p>
  </body>
</html>
