<!DOCTYPE html>
<html>
  <head>
    <title>Shop All-Items</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="top"></div>
    <img
      src="../images/grocery-store-displays.jpg"
      alt=""
      width="100%"
      height="150px"
    />
    <div id="site_title">
      <a href="/">
        <p class="headers">Shop All</p>
        <img
          src="../images/external-shopping-cart-supermarket-photo3ideastudio-lineal-photo3ideastudio.png"
          alt=""
      /></a>
    </div>
    <ul id="nav">
      <li><a href="/">HOME</a></li>
      <li><a href="items">ITEMS</a></li>
      <li><a href="cart">CART</a></li>
      <li><a href="contact">CONTACT</a></li>
    </ul>

    <h2 class="headers" style="padding-left: 10px">Products</h2>
    <a href="/login"><button>Log in as Admin</button></a>
    <div id="single-item">
      <h1>LOADING...</h1>
    </div>

    <a href="/items"><button>View All</button></a>
    <script>
      onload = () => {
        let item = undefined;
        const singleItem = document.getElementById("single-item");
        let id = window.location.pathname.split("/")[2];

        fetch(`/api/items/${id}`, {
          method: "get",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            item = data;
            const displayItem = `<div id="single-product-section">
            <span>
              <img
                class="single-product"
                src=${item.image}
                alt=${item.alt}
              />
              <p>
              ${item.name.toUpperCase()} <br/> $${item.price}</p> </span
            ><span class="single-product-details"
              ><h3>item details:</h3>
              <p>${item.description}.</p></span
            >
          </div>
            `;
            singleItem.innerHTML = displayItem;
          })
          .catch((err) => {
            singleItem.innerHTML =
              "SORRY, UNABLE TO LOAD ITEM...TRY AGAIN LATER";
            console.log(err);
          });
      };
    </script>
  </body>
</html>
